
Buổi 5 - 13-03-2023/.ipynb_checkpoints/Kiểu dữ liệu - Toán tử-checkpoint.ipynb

Buổi 6-16-05-2023/.ipynb_checkpoints/Thực hành biến, kiểu dữ liệu, toán tử -checkpoint.ipynb

Buổi 7 - 18-05-2023/.ipynb_checkpoints/Nhập xuất dữ liệu và String-checkpoint.ipynb

Buổi 8 - 20-05-2023/.ipynb_checkpoints/Điều kiện-checkpoint.ipynb

Buổi 8 - 20-05-2023/.ipynb_checkpoints/Thực hành cấu trúc điều kiện-checkpoint.ipynb

Buổi 9 - 25-05-2023/.ipynb_checkpoints/Thực hành cấu trúc điều kiện-checkpoint.ipynb
